/*
=======================================================
News Widget Hubspot Form Style Overrides
=======================================================
*/

/* GLOBAL HUBSPOT FORM STYLES ==================================== */
/*.hero-form-style {
  padding: 20px 20px;
  background-color: #FFF;
  border-radius: 8px;
  margin-bottom: 15%;
}*/
.hbspt-form {
    margin: 0px auto;
}
.hs-form {
    margin-bottom: 0 !important;
}
.hs-form .inputs-list {
    margin-left: 0px !important;
    list-style: none;
}
.hs-form input:not([type="image"]), 
.hs-form textarea {
    box-sizing: border-box !important;
}
.hs-form fieldset.form-columns-1 input[type="checkbox"],
.hs-form fieldset.form-columns-1 input[type="radio"] {
    width: auto !important;
}
.hs-form fieldset.form-columns-2 .hs-form-field {
    width: 48% !important;
    float: left !important;
}
.hs-form fieldset.form-columns-2 .hs-form-field:last-child {
    margin-left: 4% !important;
}
.hs-form fieldset.form-columns-2 .input,
.hs-form fieldset.form-columns-1 .input {
    margin-right: 0 !important;
}
.hs-form fieldset {
    max-width: none !important;
}
.hs-form.stacked .actions {
    margin: 0 !important;
    padding: 0 !important;
}
.hs-form-checkbox label span,
.hs-form-booleancheckbox span {
    margin-left: 4px !important;
    color: #303039 !important;
}
.hs-form label {
    font-family: 'Source Sans Pro', sans-serif !important;
}
.hs-input {
    font-family: 'Source Sans Pro', sans-serif !important;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 16px !important;
    padding: 10px 0 !important;
    text-indent: 12px !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    border: 1px solid #c0c0c9 !important;
    background: transparent !important;
    color: #303039 !important;
    transition: background .2s ease-in !important;
    -webkit-transition: background .2s ease-in !important;
}
.hs-input:focus {
    box-shadow: none !important;
    border-color: #5995f7 !important 
}
.hs-input.invalid {
    background: transparent !important;
    border: 1px solid #ff3d24 !important;
}
.hs-form-field {
    margin-bottom: 14px !important;
}
.hs-form-field label {
    color: #606069 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
.hs-form .inputs-list > li.hs-form-checkbox {
    width: 48% !important;
    display: inline-block !important;
}
.hs-form .inputs-list > li.hs-form-checkbox:nth-of-type(2n) {
    margin-left: 4% !important;
}
ul.hs-error-msgs {
    margin: 5px 0px 0px;
    padding: 0px;
}
ul.hs-error-msgs li  {
    list-style-type: none !important;
    width: 100% !important;
}
ul.hs-error-msgs li:nth-child(n+2) {
    margin-top: -6px !important;
    margin-left: 0 !important;
}
ul.hs-error-msgs li label {
    color: #ff3d24 !important;
    font-size: 12px !important;
}
.hs-button {
    cursor: pointer !important;
    padding: .5em 1em !important;
    width: 100% !important;
    display: block !important;
    background: #c0c0c9 !important;
    color: #ffffff !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    text-align: center !important;
    border-radius: 2px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1rem !important;
    line-height: 1.625rem !important;
    transition: all .2s ease-in !important;
    -webkit-transition: all .2s ease-in !important;
}
.hs-button:hover {
    background: #ff8575 !important;
}

/* /end GLOBAL HUBSPOT FORM STYLES ==================================== */


/* NEWSLETTER SIGN UP FORM IN FOOTER ==================================== */


@media screen and (max-width: 47.9375rem) {
/*@media screen and (max-width: 767px) */
    .hs-form.stacked .field {
        display: block;
        margin: 0 auto 1rem;
        width: 100%;
    }
    .hs_submit {
        display: block;
        width: 70%;
        margin: 20px auto 0 auto;
    }
}
@media screen and (min-width: 48rem) and (max-width: 68.6875rem) {
/*@media screen and (min-width: 768px) and (max-width: 1100px)*/
    ..hs-form.stacked .field {
        display: block;
        margin: 0 auto;
    }
    .hs_submit {
        display: block;
        margin: 0 auto;
        float: left;
    }

}
/* GLOBAL INFRASTRUCTURE PAGE HUBSPOT FORM  ==================================== */


/* MOBILE LANDING PAGE HUBSPOT FORM  ==================================== */
.mobile__form .hs-button {
    background: #5995f7 !important;
}
/* CONTACT US PAGE HUBSPOT FORM  ==================================== */
.contact__form .hs-button {
    background: #ff5933 !important;
}



/* CUSTOMIZED CONTAINER STYLES (NOT PART OF HUBSPOT) ==================================== */
.hubspot-form-container {
    background-color: white;
    box-shadow: 3px 3px 25px 0px rgba(32,32,41,0.25);
    padding: 40px 25px 25px 25px;
    border-radius: 3px;
}
.hubspot-form-container h3 {
    margin-bottom: 25px;
}

.hubspot-form-container #salutation-b08ca60b-cda3-454d-b4f0-858e5ec0c91b {
    width: 106%;
}
@media screen and (max-width: 48rem) {
/*@media screen and (max-width: 768px) {*/

    /***********  Hubspot form ***************************************/
    .hubspot-form-container #salutation-b08ca60b-cda3-454d-b4f0-858e5ec0c91b {
        width: 95%;
    }
    /*#company-b08ca60b-cda3-454d-b4f0-858e5ec0c91b {
        width: 95%;
    }
     #country-b08ca60b-cda3-454d-b4f0-858e5ec0c91b {
        width: 95%;
    }*/

}
