
body {
	overflow-x: hidden;
	font-weight: 400;
    font-size: 16px;
    line-height: 1.625rem;
    text-rendering: optimizeLegibility;
}
.content-wrap {
	width: 96%;
	max-width: 1280px;
	margin: 0px auto;
	position: relative;
	z-index: 1;
}
header {
	height: 70px;
}
section {
	padding: 120px 0;
	position: relative;
}

/*section.reset {
	padding: 0px 0px;
}*/

.grid-background{
	background: url('../img/grid-background.png');
	background-repeat: repeat-y;
	background-position: center top;
	position: fixed;
	width: 100%;
	height: 200%; 
	/*margin-top: 50px;*/
	top: 15px;
	z-index: -2;
}
.red-link {
	color: #f13e35;
}




/*
--------------------------------------
Nav
--------------------------------------
*/
.local-nav {
	font-size: 15px;
	font-family: 'Source Sans Pro'
}

/*.header-scroll-margin-fix {
	margin-top: -70px;
}*/

.sticky-header {
	display: none;
	position: fixed;
	background: #ffffff;
	width: 100%;
	height: 70px;
	/*padding: 10px 0;*/
	margin-top: -60px;
	z-index: 2;
	top: 0;
	box-shadow: 0px 0px 6px rgba(0,0,0,.35);
	-moz-transition: 	margin-top .6s ease;
	-o-transition: 		margin-top .6s ease;
	-ms-transition: 	margin-top .6s ease;
	-webkit-transition: margin-top .6s ease;
	transition: 		margin-top .6s ease;
}
.sticky-header.slideDown {
	margin-top: 0px;
}
.sticky-header .logo {
	width: 145px;
	line-height: 60px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
}
.sticky-header .logo img {
	margin-top: 13px;
}
.sticky-nav {
	display: inline-block;
	/*margin-left: .75%;*/
	}
.sticky-nav li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	height: 70px;
	line-height: 70px;
}
.sticky-nav li:last-child {
	margin-right: 0;
}
.sticky-nav li a {
	color: #19191b;
	display: block;
	font-size: 15px;
	letter-spacing: .06em;
	-moz-transition: 	all .6s ease;
	-o-transition: 		all .6s ease;
	-ms-transition: 	all .6s ease;
	-webkit-transition: all .6s ease;
	transition: 		all .6s ease;
}
.sticky-nav li a:hover {
	color: #1789d4;
}
.sticky-nav li.active a {
	color: #1789d4;
}
.sticky-cta {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #ffffff;
    background-color: #f13e35;
    /*border: 1px solid #f13e35;*/
    border-radius: 2px;
    padding: .4em 1.5625rem;
    margin: .625rem;
    margin-top: 8px;
    margin-left: 45px;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
.sticky-cta:hover {
	background-color: #f4655d;
	color: #ffffff;
}
.push-right {
	float: right;
}
/*
--------------------------------------
Hero Section
--------------------------------------
*/
section.hero {
	height: 700px;
	padding: 0px;
}
.wordmark {
	width: 338px;
    height: 51px;
    top: 120px;
	position: relative;
}
.wordmark::before {
	/*content: url('../path/to/img');*/
	content: '';
	background: url('../img/logo-symbol.svg');
	position: absolute;
	top: -58px;
	left: -150px;
	width: 122px;
	height: 145px;
}
.hero-text {
	margin-top: 170px;
}
.tagline-hero {
	padding-bottom: 10px;
}

.date-hero {
	padding-bottom: 15px;
}

.btn-red {
	margin: 0px;
	margin-top: 10px;
}

.kazoocon-logo-hero {
	width: 500px;
	height: 145px;
	
}
.patrick-shape {
	position: absolute;
	width: 365px;
	height: 426px;
	top: 55%;
	left: 61%;
	z-index: -1;
}
/********************************/
.grid-diamonds {
	width: 35px;
	height: 23.5px;
	position: absolute;
	top: 0%;
	left: 10%;
	z-index: -1;
}
.grid-dots {
	width: 44px;
	height: 22px;
	position: absolute;
	top: 15%;
	left: 50%;
	z-index: -1;
}
.grid-dots2 {
	width: 44px;
	height: 22px;
	position: absolute;
	top: 150%;
	left: 92%;
	z-index: -1;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.grid-gears {
	width: 12px;
	height: 38px;
	position: absolute;
	top: 63%;
	left: 65%;
	z-index: -1;
}
.grid-slash {
	width: 43px;
	height: 16px;
	position: absolute;
	top: 130%;
	left: 40%;
	z-index: -1;
}
.grid-slash2 {
	width: 43px;
	height: 16px;
	position: absolute;
	top: 20%;
	left: 90%;
	z-index: -1;
}
.grid-arrows {
	width: 40px;
	height: 7px;
	position: absolute;
	top: 150%;
	left: 8%;
	z-index: -1;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/********************************/


/*
--------------------------------------
Intro Section
--------------------------------------
*/

.intro.home {
    padding: 100px 0;
    background: #1789d4;
    background: url('../img/Intro-background.png'); 

    background: url('../img/Intro-background.png'), -moz-linear-gradient(45deg, #1789d4 0%, #1d65a9 100%);
    background: url('../img/Intro-background.png'), -webkit-linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background: url('../img/Intro-background.png'), -o-linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background: url('../img/Intro-background.png'), linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background-position: center, center;
    background-size: cover, cover;
    background-repeat: no-repeat no-repeat;
}

.intro-text {
	color: #ffffff;
	font-weight: 600;

}

/*
--------------------------------------
Countdown
--------------------------------------
*/

/*.county {*/
	/*float: right;*/
	/*width: 300px !important;*/
	/*text-align: right;*/
	/*margin-right: -12px;*/
	/*margin-top: -380px;*/

/*.county {
	width: 300px !important;
}     */                                   
.county.black .county-days-wrapper, 
.county.black .county-hours-wrapper, 
.county.black .county-minutes-wrapper {
	background: transparent;
	color: #ffffff;
	border-bottom: none;
	border-top: none;
	height: 60px !important;
	line-height: 60px;
	text-align: left !important;
	width: 90px !important;
}
/*.county.black .county-days-wrapper {*/
	/*width: 75px !important;*/
	/*margin-right: 15px;*/   /* will need to update as the days get into double digits */
/*}*/
.county span.first {
	padding-left: 0;
}
.county.black .county-hours-wrapper {
	/*width: 75px !important;*/
}
.county.black .county-minutes-wrapper {
	/*padding-left: 7px;*/
}
.county.black .county-days,
.county.black .county-hours,
.county.black .county-minutes {
	text-align: center !important;
	width: 100% !important;
}
.county.black .county-seconds-wrapper,
.county-label-seconds {
	display: none !important;
}
.county > span {
	font-size: 64px;
	font-weight: 300;
	/*line-height: 35px;*/
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	padding: 0;
}
.county.black span.separator-left {
	border-left: solid 1px #ffffff;
}
.county.black .county-label-days, 
.county.black .county-label-hours, 
.county.black .county-label-minutes {
	color: #ffffff;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 13px !important;
	letter-spacing: .05em;
}
.county.black .county-label-days {
	/*width: 90px !important;*/
	text-align: center !important;
	/*width: 110px !important;*/   /* will need to update as the days get into double digits */
}
.county.black .county-label-hours {
	width: 90px !important;
	text-align: center !important;
}
.county.black .county-label-minutes {
	width: 90px !important;
	text-align: center !important;
}
/*
--------------------------------------
Welcome Section
--------------------------------------
*/
/*section.welcome {
	height: 1450px;
}*/

.welcome-icons {
	height: 100px;
	margin-bottom: 40px;
	margin-top: 80px;
}
.overview-icon {
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
	margin-top: 80px;
	/*float: right;*/
}

li {
	list-style: none;
}

/*
--------------------------------------
Speakers
--------------------------------------
*/
.speaker-image {
	width: 183px;
	/*height: 415px;*/
}
.speaker-name {
	font-size: 1.1rem;
	text-align: center;
	margin: 20px 0 4px;

}
.speaker-title {
	text-align: center;
	line-height: 15px;
	color: #81858d;
}
.speakers span {
	font-size: 18px;
	color: #242429;
}
.speaker-apply h3 {
	/*float: right;*/
	text-align: center;
}
.speak-btn {
	width: 100%;
}
.indent {
	margin-left: 20px;
}

/*
--------------------------------------
SCHEDULE 
--------------------------------------
*/
.hex::before {
	content: '';
	background: url('../img/schedule-hex.svg');
	position: absolute;
	top: 125px;
	left: 100px;
	width: 67px;
	height: 31px;
}
.hex2::before {
	content: '';
	background: url('../img/schedule-hex.svg');
	position: absolute;
	top: 720px;
	left: 100px;
	width: 67px;
	height: 31px;
}
.time {
	display: inline-block;
}
.track-info {
	display: inline-block;
	margin-left: 20px;
}
.full-tracks li {
	line-height: 1.9em;
}
.overwrite li {
	margin-left: 0px;
}
.schedule-text{
	font-size: 40px;
	font-weight: 700;
	color: #19191b;
	margin-bottom: 15px;
}
.schedule-text span {
    font-size: .5em;
    color: #81858d;
    margin-left: 15px;
    font-weight: 600;
}


.eng-track {
	margin-left: 70px;
}

.track-text{
	font-size: 22px;
	letter-spacing: .02em;
	font-weight: 600;
	margin-bottom: 10px;
}

.sec-track-text{
	font-size: 20px;
	letter-spacing: .02em;
	font-weight: 600;
	color: #1789d4;
	margin-bottom: 10px;
}







/*
--------------------------------------
Venue
--------------------------------------
*/
/*section.venue {
	height: 1000px;
	padding: 0px 0px;
}*/
.title-white {
	color: #ffffff;
}
.venue-title {
	margin-bottom: 10px;
	color: #f13e31;
}
section.venue {
    padding: 160px 0;
    background: #1789d4;
    background: url('../img/venue-background.png'); 
    background: url('../img/venue-background.png'), -moz-linear-gradient(45deg, #1789d4 0%, #1d65a9 100%);
    background: url('../img/venue-background.png'), -webkit-linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background: url('../img/venue-background.png'), -o-linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background: url('../img/venue-background.png'), linear-gradient(45deg, #1789d4 0%,#1d65a9 100%);
    background-position: center, center;
    background-size: cover, cover;
    background-repeat: no-repeat no-repeat;
}

.map-container {
	position: relative;
	background-image: url(../img/venue-map3.svg);
	width: 100%;
	max-width: 100%;
	height: 615px;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0px 0px 26px rgba(0,0,0,.45);
	margin-top: 100px;
	background-size: 100%;
}
.map-container .modal {
	position: absolute;
	width: 250px;
	top: -45px;
	left: -45px;
	background: #ffffff;
	/*border: 1px solid #c4c4c9;*/
	box-shadow: 0px 0px 26px rgba(0,0,0,.45);
	padding: 20px;
}
.map-container .modal .body-copy {
	line-height: 22px;
}
.directions {
	color: #242429;
	display: block;
	font-size: 18px;
	padding-top: 15px;
	margin-top: 30px;
	border-top: 1px solid #c4c4c9;
}
.directions::before {
	content: '';
	background-image: url('../img/compass-arrow.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	margin-right: 15px;
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;

	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.directions:hover::before {
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg); 
    -o-transform:rotate(45deg);
}
/*
--------------------------------------
Sponsors
--------------------------------------

--------------------------------------
Footer
--------------------------------------
*/
.footer-symbol {
	width: 80px;
	padding-right: 30px;
}
footer {
	padding: 45px 0 40px;
	background-color: #19191b;
	position: relative;
	z-index: 1;
}

footer .marketing-site {
	color: #545459;
	font-size: 15px;
	letter-spacing: .03em;
	margin-bottom: 0px;
}
footer a.marketing-site:hover {
	color: #ff5933;
}

footer .legal {
	color: #545459;
	font-size: 15px;
	letter-spacing: .03em;
	margin-bottom: 0px;
}
footer a.legal:hover {
	color: #1d65a9;
}

.sm-container {
	float: right;
}
.social-icon {
	height: 45px;
	width: 45px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 12px;
}
.social-icon:first-child {
	margin-left: 0;
}
.social-icon a {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #343439;
	border-radius: 25px;
	-webkit-transition: 	all .3s;
	-moz-transition: 		all .3s;
	-o-transition: 			all .3s;
	transition: 			all .3s;
}
.social-icon a:hover {
	background-color: #1d65a9;
}
.blog {
	background: url('../img/sm_blog.png');
	background-repeat: no-repeat;
	background-position: center;
}
.twitter {
	background: url('../img/sm_twitter.png');
	background-repeat: no-repeat;
	background-position: center;
}
.facebook {
	background-image: url('../img/sm_facebook.png');
	background-repeat: no-repeat;
	background-position: center;
}
.youtube {
	background: url('../img/sm_youtube.png');
	background-repeat: no-repeat;
	background-position: center;
}
.linkedin {
	background: url('../img/sm_LinkedIn.png');
	background-repeat: no-repeat;
	background-position: center;
}



@media screen and (max-width: 48rem) {
/*@media screen and (max-width: 768px) {*/
.local-nav {
	display: none; /*Will need to update!!!!*/
}
.sticky-nav {
	display: none; /*Will need to update!!!!*/
}
.sticky-cta {
	float: right;
	margin-top: 15px;
}
section.hero {
    height: 500px;
    padding: 0px;
}
.mobile-logo {

}
.hero-text {
	text-align: center;
	margin-top: 90px;
}
.btn {
	width: 45%;
}
.grid-shapes {
	display: none;
}
.patrick-shape{
	display: none;
}
.wordmark {
	display: none;
}
.intro-text {
	text-align: center;
}
.section-title {
	text-align: center;
}
.county {
	margin: 0 auto;
	padding-bottom: 20px;
}
.med-inline {
	text-align: center;
}
.speaker-below-row {
	margin-top: 0px;
}
.speaker-image {
	margin-top: 100px;
}
.speaker-info {
	text-align: center;
}

.schedule-text {
	text-align: center;
	margin-top: 100px;
}
.hex::before {
	display: none;
}
.hex2::before {
	display: none;
}
.mobile-scedule {
	text-align: center;
}
.time {
	text-align: left;
}
.time2 {
	text-align: center;
}
.track-info {
	text-align: left;
}
.sec-track-text {
	text-align: center;
	margin-top: 30px;
}
.eng-track {
    margin-left: 0px;
}
.schedule-info {
	text-align: center;
}
section.schedule {
    /*height: 500px;
    padding: 0px;*/
    margin-bottom: 650px;
}
.map-container {
	position: relative;
	background-image: url(../img/venue-map3.svg);
	width: 100%;
	max-width: 100%;
	height: 615px;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0px 0px 26px rgba(0,0,0,.45);
	margin-top: 100px;
	background-size: cover;
}
.map-container .modal {
	position: absolute;
	width: 250px;
	top: 0px;
	left: 0px;
	background: #ffffff;
	border: 1px solid #c4c4c9;
	box-shadow: 0px 0px 6px rgba(0,0,0,.35);
	padding: 25px 25px 15px;
}
.spnosor-levels {
	text-align: center;
}
.sponsorship-info {
	text-align: center;
}
.sm-container {
	margin-top: 30px;
}


/* end sm-col breakpoint */
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.6875rem) {
/*@media screen and (min-width: 769px) and (max-width: 1100px) {*/

section.hero {
    height: 550px;
    padding: 0px;
}
.mobile-logo {
	display: none;
}
.wordmark {
	width: 280px;
    height: 43px;
}
.wordmark::before {
	top: -47px;
	left: -130px;
	width: 100px;
	height: 119px;
}
.right-nav {
	float: right;
}
.sticky-cta {
	margin-left: 10px;
}

/**************Hero-Welcome*******************************/

.patrick-shape {
	position: absolute;
	width: 270px;
	height: 315px;
	top: 50%;
	left: 65%;
	z-index: -1;
}
.hero-text {
	margin-top: 160px;
}

.grid-diamonds {
	width: 35px;
	height: 23.5px;
	position: absolute;
	top: 0%;
	left: 3%;
	z-index: -1;
}
.grid-dots {
	width: 44px;
	height: 22px;
	position: absolute;
	top: 12%;
	left: 45%;
	z-index: -1;
}
.grid-dots2 {
	width: 44px;
	height: 22px;
	position: absolute;
	top: 130%;
	left: 95%;
	z-index: -1;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.grid-gears {
	width: 12px;
	height: 38px;
	position: absolute;
	top: 45%;
	left: 70%;
	z-index: -1;
}
.grid-slash {
	width: 43px;
	height: 16px;
	position: absolute;
	top: 120%;
	left: 45%;
	z-index: -1;
}
.grid-slash2 {
	width: 43px;
	height: 16px;
	position: absolute;
	top: 25%;
	left: 92%;
	z-index: -1;
}
.grid-arrows {
	width: 40px;
	height: 7px;
	position: absolute;
	top: 135%;
	left: 4%;
	z-index: -1;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**************Speakerse*******************************/

.speaker-below-row {
	margin-top: 50px;
}

/**************Schedule*******************************/
.med-inline {
	display: inline-block;
}

.time2{
	display: inline-block;
	margin-left: 0px;
}

.hex::before {
	top: 125px;
	left: 20px;
}
.hex2::before {
	top: 925px;
	left: 20px;
}
.eng-track {
	margin-top: 20px;
	margin-left: 0px;
}
.track-info {
	margin-left: 30px;
}
/**************VENUE*******************************/
/*.map-container {
	position: relative;
	background-image: url(../img/venue-map3.png);
	width: 90%;
	max-width: 100%;
	height: 615px;
	background-repeat: no-repeat;
	background-position: center top;
	box-shadow: 0px 0px 6px rgba(0,0,0,.35);
	margin-top: 100px;*/
	/*background-color: rgba(255,255,255,.75);*/
	/*background-size: cover;*/
/*}*/

.map-container {
	position: relative;
	background-image: url(../img/venue-map3.svg);
	width: 100%;
	max-width: 100%;
	height: 615px;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0px 0px 26px rgba(0,0,0,.45);
	margin-top: 100px;
	background-size: cover;
}


.map-container .modal {
	position: absolute;
	width: 250px;
	top: -40px;
	left: -40px;
	background: #ffffff;
	border: 1px solid #c4c4c9;
	box-shadow: 0px 0px 6px rgba(0,0,0,.35);
	padding: 25px 25px 15px;
}

/**************SPONSORS*******************************/

/**************FOOTER*******************************/

.legal {
	width: 45%;
}
.sm-container {
	width: 40%;
	float: right;
}
/* end md-col breakpoint */
}

@media screen and (min-width: 68.75rem) {
/*@media screen and (min-width: 1101px) {*/
.mobile-logo {
	display: none;
}
.speaker-below-row {
	margin-top: 100px;
}


/* end lg-col breakpoint */
}