
body {
	overflow-x: hidden;
	font-weight: 400;
    font-size: 16px;
    line-height: 1.625rem;
    text-rendering: optimizeLegibility;
}
.content-wrap {
	width: 96%;
	max-width: 1280px;
	margin: 0px auto;
	position: relative;
	z-index: 1;
}
header {
	height: 70px;
}
section {
	padding: 100px 0;
	position: relative;
}

.grid-background{
	background: url('../img/grid-background.png');
	background-repeat: repeat-y;
	background-position: center top;
	position: fixed;
	width: 100%;
	height: 200%; 
	/*margin-top: 50px;*/
	top: 15px;
	z-index: -2;
}
.red-link {
	color: #f13e35;
}
.sec-black {
	background: #000000;
}
/*.sec-black::after {
	content: url('../img/section-glitch.png');
	display: block;
	margin: 0px auto 0px auto;
	position: relative;
	z-index: 5;
	top: 200px;
}*/
.glitch-sec-center {
	display: block;
	margin: 0px auto;

}
.glitch-top {
	margin-bottom: -49px;
	position: relative;
	z-index: 5;
	transform: rotate(180deg);
	width: 101%;
}
.glitch-bottom {
	margin-top: -40px;
	position: relative;
	z-index: 5;
	width: 101%;
}

/*
--------------------------------------
Announcement Bar
--------------------------------------
*/
.announcement {
	color: #ffffff;
    background: linear-gradient(to right, #ff512f , #dd2476);
    padding: 15px 0;
    text-align: center;
    display: none;
}
.announcement a {
	color: #000000;
	margin-left: 10px;
}
/*
--------------------------------------
Nav
--------------------------------------
*/
.fixed-local-nav {
	background: #000000;
	color: white;
	display: block;
	margin: 0px auto;
}
.local-nav {
	font-size: 16px;
	font-family: 'Source Sans Pro';
	z-index: 6;
}

.sticky-header {
	display: none;
	position: fixed;
	background: #ffffff;
	width: 100%;
	height: 70px;
	/*padding: 10px 0;*/
	margin-top: -70px;
	z-index: 6;
	top: 0;
	box-shadow: 0px 0px 6px rgba(0,0,0,.35);
	-moz-transition: 	margin-top .6s ease;
	-o-transition: 		margin-top .6s ease;
	-ms-transition: 	margin-top .6s ease;
	-webkit-transition: margin-top .6s ease;
	transition: 		margin-top .6s ease;
}
.sticky-header.slideDown {
	margin-top: 0px;
}
.sticky-header .logo {
	width: 145px;
	line-height: 60px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
}
.sticky-header .logo img {
	margin-top: 13px;
}
.sticky-nav {
	display: inline-block;
	/*margin-left: .75%;*/
	}
.sticky-nav li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	height: 70px;
	line-height: 70px;
}
.sticky-nav li:last-child {
	margin-right: 0;
}
.sticky-nav li a {
	color: #000000;
	display: block;
	font-size: 15px;
	letter-spacing: .06em;
	-moz-transition: 	all .6s ease;
	-o-transition: 		all .6s ease;
	-ms-transition: 	all .6s ease;
	-webkit-transition: all .6s ease;
	transition: 		all .6s ease;
}
.sticky-nav li a:hover {
	background: linear-gradient(45deg, #1fddff 0%, #8dd53f 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.sticky-nav li.active a {
	color: #1789d4;
}
.sticky-cta {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #ffffff;
    background-color: #f13e35;
    /*border: 1px solid #f13e35;*/
    border-radius: 2px;
    padding: .4em 1.5625rem;
    margin: .625rem;
    margin-top: 8px;
    margin-left: 45px;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
.sticky-cta:hover {
	background-color: #f4655d;
	color: #ffffff;
}
.push-right {
	float: right;
}
/*
--------------------------------------
Hero Section
--------------------------------------
*/
section.hero {
	height: 720px;
	padding-top: 0px !important;
	margin: 0px !important;
}
.hero {
	background-color: #000000;
	background: #000000;
	background-image: url('../img/hero-lines-2.png');
	background-position: 50% 30%;
    background-size: 100%, cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat, repeat;
}
.hero-data-shaped-center {
	position: block;
/*	vertical-align: middle;*/
}
#hero-data-shapes {
	position: fixed;
	width: 1000px;
	height: auto;
	margin-top: 85px;
	opacity: 0.6;
	/*margin: 0px auto;*/
	z-index: -2;
}
.hero-san-diego {
	position: relative;
	margin-top: 30px;
	z-index: -1;
	opacity: 0.7;
}
.hero-kazoocon-glitch-logo {
	position: absolute;
	width: 400px;
	height: auto;
	z-index: 4;
	margin-top: -390px;
}
.hero-text {
	margin-top: -70px;
}

/*
--------------------------------------
Hero down arrow
--------------------------------------
*/
.hero-arrow-1{
	margin-top: -100px;
	margin-left: 100px;
	float: left;
}
.hero-arrow-2 {
	margin-top: -100px;
	margin-right: 100px;
	float: right;
}
/*.hero-arrow-3 {
	display: block;
	margin: 0 auto;
}*/
.hero-arrow {
	opacity: 0.5;
	width: 40px;
	height: auto;
}
.hero-arrow-md-sm {
	display: block;
	margin: 0 auto 0 auto;
	opacity: 0.5;
	width: 40px;
	height: auto;
	z-index: 6;
}

/*
--------------------------------------
Welcome Section
--------------------------------------
*/
.welcome-logos {
	position: absolute;
	width: 400px;
	height: auto;
	background: #ffffff;
	padding: 30px 25px;
	border-radius: 2px;
	box-shadow: 0px 0px 20px 0px rgba(32, 32, 41, 0.3);
	margin: -50 auto 0 auto;
	z-index: 5;
	right: 60%;
	top: 44%;
}
.welcome-image-1 {
	position: relative;
	width: 350px;
	height: auto;
	z-index: 3;
}
.welcome-image-2 {
	position: relative;
	width: 350px;
	height: auto;
	z-index: 2;
	float: right;
	margin-top: 90px;
}
.welcome-square-glitch {
	position: absolute;
	width: 500px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 0;
	right: 56%;
	top: 25%;
}
/*
--------------------------------------
Event Details Section
--------------------------------------
*/
.county {
	margin: 0 auto;
	padding: 10px 0 10px 0;
}
.btn-book-now {
	margin-left: 0px !important;
}


/*
--------------------------------------
Countdown
--------------------------------------
*/

/*.county {*/
	/*float: right;*/
	/*width: 300px !important;*/
	/*text-align: right;*/
	/*margin-right: -12px;*/
	/*margin-top: -380px;*/

.county {
	width: 300px !important; /*comment out as the days get into double digits*/
}                                        
.county.black .county-days-wrapper, 
.county.black .county-hours-wrapper, 
.county.black .county-minutes-wrapper {
	background: transparent;
	color: #ffffff;
	border-bottom: none;
	border-top: none;
	height: 60px !important;
	line-height: 60px;
	text-align: left !important;
	width: 90px !important;
}
.county.black .county-days-wrapper {
	/*width: 75px !important;*/
	margin-right: 15px;    /*comment out as the days get into double digits*/
}
.county span.first {
	padding-left: 0;
}
.county.black .county-hours-wrapper {
	/*width: 75px !important;*/
}
.county.black .county-minutes-wrapper {
	/*padding-left: 7px;*/
}
.county.black .county-days,
.county.black .county-hours,
.county.black .county-minutes {
	text-align: center !important;
	width: 100% !important;
}
.county.black .county-seconds-wrapper,
.county-label-seconds {
	display: none !important;
}
.county > span {
	font-size: 64px;
	font-weight: 300;
	/*line-height: 35px;*/
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	padding: 0;
}
.county.black span.separator-left {
	border-left: solid 1px #ffffff;
}
.county.black .county-label-days, 
.county.black .county-label-hours, 
.county.black .county-label-minutes {
	color: #ffffff;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 13px !important;
	letter-spacing: .05em;
}
.county.black .county-label-days {
	/*width: 90px !important;*/
	text-align: center !important;
	/*width: 110px !important;*/   /* will need to update as the days get into double digits */
}
.county.black .county-label-hours {
	width: 90px !important;
	text-align: center !important;
}
.county.black .county-label-minutes {
	width: 90px !important;
	text-align: center !important;
}

.test-img {
	position: relative;
}
/*.gradient-square::before,
.gradient-square::after {
	position: absolute;
	content: "";
	width: 100px;
	height: 100px;
	border: 5px solid;
	-moz-border-image: -moz-linear-gradient(bottom left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(bottom left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to top right, #3acfd5 0%, #3a4ed5 100%);
	border-image-slice: 1;
}

.gradient-square::before {
	left: -1%;
	top: 77%;

}

.test-img::after{
	left: 44%;
	top: 86%;
	z-index: 10;
}*/


.venue-square-glitch-1 {
	position: absolute;
	width: 100px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: -2;
	right: -1%;
	top: 43%;
}
.venue-square-glitch-2 {
	position: absolute;
	width: 100px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 2;
	right: 44%;
	top: 64%;
}
.venue-square-glitch-3 {
	position: absolute;
	width: 100px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: -2;
	left: -1%;
	top: 77%;
}
.venue-square-glitch-4 {
	position: absolute;
	width: 100px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 2;
	left: 44%;
	top: 96%;
}
/*
--------------------------------------
Agenda Section
--------------------------------------
*/

/***********************START TABLE*************************/









table, th, td {
    border: 1px solid #000000;
}
table {
	margin: 0px auto;
	background: #303039;
	box-shadow: 0px 0px 20px 0px rgba(32, 32, 41, 0.3);
	width: 100%;
}	
.table-gradient {
	background: linear-gradient(45deg, #ff512f 0%, #dd2476 100%);
}
.table-black {
	background-color: #c0c0c9;
}
.table-lightgrey {
	background-color: #f0f0f9;
}
.table-white {
	background-color: #ffffff;
}
.table-text-align td{
	text-align: center;
}
.table-h4 {
	margin: 20px 0px 20px 0px;
}
.table-p {
	margin: 10px 10px;
}
.table-p-2-alpha {
	color: #303039;
	margin: 10px 30px;
}
.table-p-2 {
	color: #303039;
	margin: 10px 20px;
}

/***********************END TABLE*************************/

/*
--------------------------------------
Sponsor Section
--------------------------------------
*/
.sponsor-image-1 {
	position: absolute;
	width: 400px;
	height: auto;
	/*background: #ffffff;*/
	/*padding: 25px 25px;*/
	/*border-radius: 2px;*/
	box-shadow: 0px 0px 20px 0px rgba(32, 32, 41, 0.3);
	margin: -50 auto 0 auto;
	z-index: 3;
	right: 50%;
	top: 37%;
}
.sponsor-image-2 {
	position: relative;
	width: 450px;
	height: auto;
	z-index: 2;
}
.sponsor-square-glitch {
	position: absolute;
	width: 480px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 0;
	right: 54%;
	top: 15%;
}
.sponsor-past {
	display: block;
	width: 200px;
	height: auto;
	margin: 0 auto;
}
/*
--------------------------------------
Speaker Section
--------------------------------------
*/
.speaker-note-text {
	color: #606069;
}
.speaker-become {
	display: block;
	width: 500px;
	height: auto;
	margin: 0 auto;
}
.speaker-square-glitch {
	position: absolute;
	width: 380px;
	height: auto;
	/*background: #ffffff;*/
	/*padding: 30px 25px;*/
	/*border-radius: 2px;*/
/*	box-shadow: 0px 0px 20px 0px rgba(32, 32, 41, 0.3);*/
	margin: -50 auto 0 auto;
	z-index: 0;
	left: 67%;
	top: 15%;
}
.speaker-square-glitch-2 {
	position: absolute;
	width: 300px;
	height: auto;
	/*background: #ffffff;*/
	/*padding: 30px 25px;*/
	/*border-radius: 2px;*/
/*	box-shadow: 0px 0px 20px 0px rgba(32, 32, 41, 0.3);*/
	margin: -50 auto 0 auto;
	z-index: -1;
	left: 50%;
	top: 48%;
}

/*
--------------------------------------
Pre-Footer
--------------------------------------
*/
/*section.pre-footer {
	background-color: #ff512f; 
    background: url('../img/mobile-stat-grid.png'); 

    background: url('../img/mobile-stat-grid.png'), -moz-linear-gradient(135deg, #ff512f 0%,#dd2476 100%);
    background: url('../img/mobile-stat-grid.png'), -webkit-linear-gradient(135deg, #ff512f 0%,#dd2476 100%);
    background: url('../img/mobile-stat-grid.png'), -o-linear-gradient(135deg, #ff512f 0%,#dd2476 100%);
    background: url('../img/mobile-stat-grid.png'), linear-gradient(135deg,  #ff512f 0%,#dd2476 100%);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, 100%;
    padding: 70px;
}
.pre-footer {
	margin-bottom: 0px;
}*/

/*
--------------------------------------
Footer
--------------------------------------
*/
.footer-symbol {
	width: 80px;
	padding-right: 30px;
}
footer {
	padding: 45px 0 40px;
	background-color: #000000;
	position: relative;
	z-index: 1;
}

footer .marketing-site {
	color: #545459;
	font-size: 15px;
	letter-spacing: .03em;
	margin-bottom: 0px;
}
footer a.marketing-site:hover {
	color: #ff5933;
}

footer .legal {
	color: #545459;
	font-size: 15px;
	letter-spacing: .03em;
	margin-bottom: 0px;
}
footer a.legal:hover {
	color: #1d65a9;
}

.sm-container {
	float: right;
}
.social-icon {
	height: 45px;
	width: 45px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 12px;
}
.social-icon:first-child {
	margin-left: 0;
}
.social-icon a {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1d65a9;
	opacity: 0.5;
	border-radius: 25px;
	-webkit-transition: 	all .3s;
	-moz-transition: 		all .3s;
	-o-transition: 			all .3s;
	transition: 			all .3s;
}
.social-icon a:hover {
	background-color: #1d65a9;
	opacity: 1;

}
.blog {
	background: url('../img/sm_blog.png');
	background-repeat: no-repeat;
	background-position: center;
}
.twitter {
	background: url('../img/sm_twitter.png');
	background-repeat: no-repeat;
	background-position: center;
}
.facebook {
	background-image: url('../img/sm_facebook.png');
	background-repeat: no-repeat;
	background-position: center;
}
.youtube {
	background: url('../img/sm_youtube.png');
	background-repeat: no-repeat;
	background-position: center;
}
.linkedin {
	background: url('../img/sm_LinkedIn.png');
	background-repeat: no-repeat;
	background-position: center;
}

/*************************************************
SMALL*/
@media screen and (max-width: 48rem) {
/*@media screen and (max-width: 768px) {*/
.local-nav {
	display: none; /*Will need to update!!!!*/
}
.sticky-nav {
	display: none; /*Will need to update!!!!*/
}
.sticky-cta {
	float: right;
	margin-top: 15px;
}
section.hero {
    height: auto;
    padding: 0px;
}
/*
--------------------------------------
Hero Section
--------------------------------------
*/
.hero-lines {
	background-position: 30% 22%;
}
.glitch-top {
	margin-bottom: -20px;
	position: relative;
	z-index: 5;
	/*rotation-point:50% 50%;*/
	transform: rotate(180deg);
}
.glitch-bottom {
	margin-top: -15px;
	position: relative;
	z-index: 5;
}
.hero-san-diego {
	position: relative;
	margin-top: 0px;
	z-index: 4;
	opacity: 0.0;
}
.hero-kazoocon-glitch-logo {
	position: relative;
	width: 100%;
	/*max-width: 200px;*/
	height: auto;
	z-index: 5;
	margin-top: -500px;
	/*margin: -240px auto 0 0px;*/
}
.hero-text {
	margin-top: 40px;
}
/*
--------------------------------------
Welcome Section
--------------------------------------
*/
.welcome-logos {
	width: 80%;
	right: 10%;
	top: 24%;
}
.welcome-image-1 {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 3;
}
.welcome-image-2 {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
	float: right;
	margin-top: 100px;
}

/*
--------------------------------------
Event Details Section
--------------------------------------
*/
.table-text-align td{
	text-align: center;
}
.table-h4 {
	margin: 15px 0px 15px 0px;
}
.table-p {
	margin: 5px 5px;
}
.table-p-2-alpha {
	margin: 10px 10px;
}
.table-p-2 {
	margin: 10px 10px;
}

/*
--------------------------------------
Agenda Section
--------------------------------------
*/

/*
--------------------------------------
Sponsor Section
--------------------------------------
*/

.sponsor-image-2 {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
}






/* end sm-col breakpoint */
}
/*********************************************/
/*MEDIUM*/
@media screen and (min-width: 48.0625rem) and (max-width: 68.6875rem) {
/*@media screen and (min-width: 769px) and (max-width: 1100px) {*/
/*
--------------------------------------
Hero Section
--------------------------------------
*/

.glitch-top {
	margin-bottom: -38px;
	position: relative;
	z-index: 5;
	/*rotation-point:50% 50%;*/
	transform: rotate(180deg);
}
.glitch-bottom {
	margin-top: -30px;
	position: relative;
	z-index: 5;
}
.hero-san-diego {
	position: relative;
	margin-top: 30px;
	z-index: 4;
	opacity: 0.6;
}
.hero-kazoocon-glitch-logo {
	position: absolute;
	width: 350px;
	height: auto;
	z-index: 5;
	/*margin-top: -375px;*/
	margin: -280px auto 0 -40px;
}
.hero-text {
	margin-top: 0px;
}
/*
--------------------------------------
Welcome Section
--------------------------------------
*/
.welcome-logos {
	right: 28%;
	top: 27%;
}
.welcome-image-1 {
	position: relative;
	width: 350px;
	height: auto;
	z-index: 3;
}
.welcome-image-2 {
	position: relative;
	width: 350px;
	height: auto;
	z-index: 2;
	float: right;
	margin-top: 220px;
}
.welcome-square-glitch {
	position: absolute;
	width: 500px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 0;
	right: 24%;
	top: 16%;
}
/*
--------------------------------------
Event Details Section
--------------------------------------
*/
.venue-square-glitch-1 {
	position: absolute;
	width: 200px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: -2;
	right: -1%;
	top: 53%;
}
.venue-square-glitch-3 {
	position: absolute;
	width: 200px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: -2;
	left: -1%;
	top: 82%;
}
/*
--------------------------------------
Agenda Section
--------------------------------------
*/

/*
--------------------------------------
Sponsors Section
--------------------------------------
*/

.sponsor-image-1 {
	position: absolute;
	width: 400px;
	height: auto;
	/*background: #ffffff;*/
	/*padding: 25px 25px;*/
	/*border-radius: 2px;*/
	/*margin: -50 auto 0 auto;*/
	z-index: 3;
	right: 15%;
	top: 25%;
}
.sponsor-image-2 {
	position: relative;
	width: 400px;
	height: auto;
	z-index: 2;
}
.sponsor-square-glitch {
	position: absolute;
	width: 425px;
	height: auto;
	margin: -50 auto 0 auto;
	z-index: 0;
	right: 30%;
	top: 12%;
}
.sponsor-opp-text {
	margin-top: 240px;
}
/**************FOOTER*******************************/

.legal {
	width: 45%;
}
.sm-container {
	width: 40%;
	float: right;
}
/* end md-col breakpoint */
}
/*LARGE*/
@media screen and (min-width: 68.75rem) {
/*@media screen and (min-width: 1101px) {*/
.mobile-logo {
	display: none;
}
.speaker-below-row {
	margin-top: 100px;
}


/* end lg-col breakpoint */
}